<label>title</label>
<input class="form-control" [(ngModel)]="Post.title"/>
<label>description</label>
<input class="form-control" [(ngModel)]="Post.description"/>
<label>contract_type </label>
<select class="form-control" [(ngModel)]="Post.contract_type">

  <option value="cdd"> CDD</option>
  <option value="cdd"> CDI</option>
  <option value="cdd"> SIVP</option>
</select>



<label>salaire</label>
<input class="form-control" [(ngModel)]="Post.salaire"/>
<button class="btn btn-danger" (click)="sav()">save</button>

